body {
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh;
}

#addCrimeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #3498db; /* Set background color */
  color: #fff; /* Set text color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

#addCrimeButton:hover {
  background-color: #2980b9; /* Change background color on hover */
}
